body {
    font-family: Arial, sans-serif;
    background-color: #dfccf3;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background: #aee4fc;
    padding: 30px;
    border-radius: 12px;
  }
  
  h1 {
    text-align: center;
    color: #1f1051;
  }
  
  .formulario {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #76054e;
    border-radius: 8px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #871f97;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ae49ae;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    background: #eee;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul li button {
    background-color: #0c2989;
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  ul li button:hover {
    background-color: #5776b8;
  }
  